<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>REST API</title>
    <link rel="stylesheet" href="">
</head>
<body>
    Este servidor no devuelve nada porque solo funciona como un REST API
</body>
</html>